html
	head
		meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
		meta(content="yes", name="apple-mobile-web-app-capable")
		meta(content="black", name="apple-mobile-web-app-status-bar-style")
		meta(content="telephone=no", name="format-detection")
		meta(name="renderer", content="webkit")
		meta(name="keywords", content=site.configs.keywords.escaped)
		meta(name="description", content=site.raw_content.escaped)
		link(rel="shortcut icon", href="/template/images/favicon.ico")
		block title
			title= request.args.s or post.title or tags.join('+') or category.title or site.title
		load("http://greenzorro.github.io/colacdn/assets/css/reset.css")
		load('/template/css/fonts.css /template/css/style.scss')

	body
		#body_wrapper
			block header
			#main
				block content
			block footer

		load("http://greenzorro.github.io/colacdn/assets/js/jquery-latest.js")
		if request.url_without_host == "/works"
			load('/template/frameworks/fancybox/jquery.fancybox.js /template/frameworks/fancybox/jquery.fancybox.css /template/frameworks/fancybox/jquery.mousewheel-3.0.6.pack.js')
		load("/template/js/functions.js")

		.statistic
			script.
				var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_2994887'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D2994887' type='text/javascript'%3E%3C/script%3E"));
