extends base
block title
	title= "设计作品" + " - " + site.title

block header
	include include/header
block footer
	include include/footer
block content
	load('/template/frameworks/fancybox/jquery.fancybox.js /template/frameworks/fancybox/jquery.fancybox.css /template/frameworks/fancybox/jquery.mousewheel-3.0.6.pack.js')
	#works.clearfix
		.wrap
			.content
				a.play.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8uOLz/Uy4mQ.jpg", rel="works") 播放
				p.slogen I design.
				.area.clearfix
					span UI
					span WEB
					span GRAPHIC
				.pic
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8tSgh/G5Y1C.jpg", title="UI design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DmzgAyHP/ROngo.png", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DmzlEgBP/VTnTo.png", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DmzgFYzA/QjYeN.png", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/Dmzksn44/kMvJb.png", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DmzgMoJL/13FQbI.png", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP88Dhf/NVHzT.jpg", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8bMl8/EYlRy.jpg", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8ddty/inok6.jpg", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8a0JD/3sH8I.jpg", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8eQtC/bVruD.jpg", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8eXpS/uzggj.jpg", title="易停车iPhone版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8g6D6/qTwuX.jpg", title="易停车iPhone版", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8ugoA/vZga.jpg", title="UI design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxxV8o/HZfKh.jpg", title="唐人街概念版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxASLy/4v6r3.jpg", title="唐人街概念版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxsATK/dekVg.jpg", title="唐人街概念版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxFAkR/NIeWA.jpg", title="唐人街概念版", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxG8cD/2eDah.jpg", title="唐人街安装", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0Lxw6pD/uabiG.jpg", title="唐人街登录", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxHPXw/DbsNM.jpg", title="唐人街用户引导", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxA9u9/FN0gS.jpg", title="唐人街用户引导", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxNN4k/12t3MM.jpg", title="唐人街用户引导", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxP3FY/EvgXt.jpg", title="唐人街菜单", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxR5MT/z68KV.jpg", title="唐人街大厅", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8vmUf/Cs9tN.jpg", title="UI design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0Ly8X3o/xZw8n.jpg", title="时钟界面", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LxZhG0/3eNO1.jpg", title="套打软件icon", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzPjtUmy/124osc.jpg", title="新年贺卡", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8uSSL/eK5eO.jpg", title="web design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8jmrb/HJK4z.jpg", title="爱·故事", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8w269/14MMd8.jpg", title="web design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8muyT/NXytU.jpg", title="天天正能量", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8jZOR/8qT9G.jpg", title="天天正能量 见证者", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzPiNSqV/i4DWq.jpg", title="爱不闲置捐赠电脑活动", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzPiPVKG/Ov8tV.jpg", title="见证者招募", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8vNKz/ZYc5R.jpg", title="web design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LztUQt/fkQdf.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0Lzzodp/14ybB.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LzN1Eh/4Cznq.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LzPVPF/Ct5wX.jpg", title="虾米电台概念设计", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8vhe9/L9lVI.jpg", title="web design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LyjjPx/JxYol.jpg", title="香格里拉充值中心", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LylB9A/dqcXn.jpg", title="香格里拉帮助中心", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0Lynm1h/A2e8M.jpg", title="香格里拉帮助中心", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0Lye8oB/G0AjL.jpg", title="香格里拉用户中心", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LyqkQo/wDoU0.jpg", title="香格里拉关于页面", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LyrcmZ/hAw3N.jpg", title="香格里拉错误页面", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8wc4U/EBXbM.jpg", title="web design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LyFA2N/tr7lk.jpg", title="293圣诞活动", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LyACjO/12S1lm.jpg", title="293末日活动", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8vVPZ/9cb2q.jpg", title="web design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LArvqi/4XAuO.jpg", title="畅风天能官方网站", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LAuCyt/ROFAO.jpg", title="畅风天能官方网站", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8vOYT/Gj3gH.jpg", title="graphic design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzPiMPlx/l7jME.jpg", title="简洁文化用品", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LAJMvU/CVDRC.jpg", title="丸子烘焙", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LAKpOa/waop2.jpg", title="丸子烘焙", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LAAh1a/142Xis.jpg", title="可乐橙", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LAKGyv/QAH7A.jpg", title="可乐橙", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LALhhg/5DEwL.jpg", title="颜色彩妆", rel="works")

					a.fancybox(href="http://pic.yupoo.com/greenzorro/DzP8x8rW/KEE7Q.jpg", title="graphic design", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LATiOv/aFvxJ.jpg", title="论文封面设计", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LB0XzG/iflVX.jpg", title="论文封面设计", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LARAke/HQ0e1.jpg", title="论文封面设计", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LB6tur/J4UPp.jpg", title="论文封面设计", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LB9Ktg/QYl4S.jpg", title="南宋御街宣传册", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LBcXwH/j9mz.jpg", title="南宋御街宣传册", rel="works")
					a.fancybox(href="http://pic.yupoo.com/greenzorro/D0LBf90A/121pzN.jpg", title="南宋御街宣传册", rel="works")

			#fb_comments_container
				.ds-thread(data-thread-key="works", data-title="设计作品", data-url="http://colachan.com/works")
				script(type="text/javascript").
					var duoshuoQuery = {short_name:"greenzorro"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
