extends base
block title
	title= "设计作品" + " - " + site.title

block header
	include include/header
block footer
	include include/footer
block content
	load('/template/frameworks/fancybox/jquery.fancybox.js /template/frameworks/fancybox/jquery.fancybox.css /template/frameworks/fancybox/jquery.mousewheel-3.0.6.pack.js')
	.single
		#works.clearfix
			.page_wrap
				.content
					a.play.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/cover.jpg", rel="works") 播放
					p.slogen I design.
					.area.clearfix
						span UI
						span WEB
						span GRAPHIC

					.pic
						#a1.cat_title
							h2 易停车
							p
								|UI design
						a.fancybox(href="#a1", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a1-易停车/a1.jpg", title="易停车", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a1-易停车/a2.jpg", title="易停车", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a1-易停车/b1.jpg", title="易停车", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a1-易停车/b2.jpg", title="易停车", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a1-易停车/b3.jpg", title="易停车", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a1-易停车/b4.jpg", title="易停车", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a1-易停车/b5.jpg", title="易停车", rel="works")

						#a2.cat_title
							h2 唐人街
							p
								|UI design
						a.fancybox(href="#a2", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/a1.jpg", title="唐人街概念版", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/a2.jpg", title="唐人街概念版", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/b1.jpg", title="唐人街安装", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/b2.jpg", title="唐人街登录", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/c1.jpg", title="唐人街用户引导", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/c2.jpg", title="唐人街用户引导", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/c3.jpg", title="唐人街用户引导", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/d1.jpg", title="唐人街菜单", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a2-唐人街/d2.jpg", title="唐人街大厅", rel="works")

						#a3.cat_title
							h2 UI其他
							p
								|UI design
						a.fancybox(href="#a3", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a3-UI其他/a1.jpg", title="时钟界面", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/a3-UI其他/b1.jpg", title="套打软件icon", rel="works")

						#b4.cat_title
							h2 王珞丹后援会
							p
								|web design
						a.fancybox(href="#b4", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b4-王珞丹后援会/a1.jpg", title="王珞丹后援会", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b4-王珞丹后援会/a2.jpg", title="王珞丹后援会", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b4-王珞丹后援会/a3.jpg", title="王珞丹后援会", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b4-王珞丹后援会/a4.jpg", title="王珞丹后援会", rel="works")

						#b1.cat_title
							h2 善功夫
							p
								|web design
						a.fancybox(href="#b1", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b1-善功夫/a1.jpg", title="善功夫 爱·故事", rel="works")

						#b2.cat_title
							h2 天天正能量
							p
								|web design
						a.fancybox(href="#b2", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b2-天天正能量/a1.jpg", title="天天正能量", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b2-天天正能量/a2.jpg", title="天天正能量 见证者", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b2-天天正能量/b1.jpg", title="爱不闲置捐赠电脑活动", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b2-天天正能量/b2.jpg", title="见证者招募", rel="works")

						#b3.cat_title
							h2 虾米电台
							p
								|web design
						a.fancybox(href="#b3", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b3-虾米电台/a1.jpg", title="虾米电台概念设计", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b3-虾米电台/a2.jpg", title="虾米电台概念设计", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b3-虾米电台/a3.jpg", title="虾米电台概念设计", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b3-虾米电台/a4.jpg", title="虾米电台概念设计", rel="works")

						#b5.cat_title
							h2 293活动
							p
								|web design
						a.fancybox(href="#b5", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b5-293活动/a1.jpg", title="293圣诞活动", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b5-293活动/a2.jpg", title="293末日活动", rel="works")

						#b6.cat_title
							h2 web其他
							p
								|web design
						a.fancybox(href="#b6", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b6-web其他/b1.jpg", title="时代智控", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b6-web其他/a1.jpg", title="畅风天能官方网站", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/b6-web其他/a2.jpg", title="畅风天能官方网站", rel="works")

						#c1.cat_title
							h2 LOGO
							p
								|graphic design
						a.fancybox(href="#c1", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c1-LOGO/e1.jpg", title="forever", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c1-LOGO/d1.jpg", title="简洁文化用品", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c1-LOGO/a1.jpg", title="丸子烘焙", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c1-LOGO/a2.jpg", title="丸子烘焙", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c1-LOGO/b1.jpg", title="可乐橙", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c1-LOGO/b2.jpg", title="可乐橙", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c1-LOGO/c1.jpg", title="颜色彩妆", rel="works")

						#c2.cat_title
							h2 平面其他
							p
								|graphic design
						a.fancybox(href="#c2", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c2-平面其他/c1.jpg", title="聚会海报", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c2-平面其他/c2.jpg", title="聚会海报", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c2-平面其他/b1.jpg", title="新年贺卡", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c2-平面其他/a1.jpg", title="论文封面设计", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c2-平面其他/a2.jpg", title="论文封面设计", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c2-平面其他/a3.jpg", title="论文封面设计", rel="works")
						a.fancybox(href="http://greenzorro.github.io/colacdn/blog_works/c2-平面其他/a4.jpg", title="论文封面设计", rel="works")

				.clear
				.pager.clearfix
					a.gotop.icon-arrow_up(href="#")

		.page_wrap
			#fb_comments_container
				.ds-thread(data-thread-key="works", data-title="设计作品", data-url="http://colachan.com/works")
				script(type="text/javascript").
					var duoshuoQuery = {short_name:"greenzorro"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
