footer.footer
	h2.logo
	p
		|可乐橙的朋友们：
		a(href="http://www.wuxiaodi.com/", target="_blank") 吴晓棣
		i /
		a(href="http://muxinmuzi.cn/", target="_blank") 木辛木子
		i /
		a(href="http://fofore.com/", target="_blank") fofore
		i /
		a(href="http://www.banpie.info/", target="_blank") 半撇
		i /
		a(href="http://tangyinxiao19.github.io/", target="_blank") 唐寅小
	p
		theme by Cola Chan - powered by farbox
	a.gotop.icon-arrow_up(href="#")
