footer.footer
	h2.logo
	p
		|可乐橙的朋友们：
		a(href="http://www.wuxiaodi.com/", target="_blank") 吴晓棣
		i /
		a(href="http://muxinmuzi.cn/", target="_blank") 木辛木子
		i /
		a(href="http://fofore.com/", target="_blank") fofore
		i /
		a(href="http://www.banpie.info/", target="_blank") 半撇
		i /
		a(href="http://tangyinxiao19.github.io/", target="_blank") 唐寅小
		i /
		a(href="http://www.cai-cai.me/", target="_blank") 蔡蔡
		i /
		a(href="http://misszhang.me/", target="_blank") 美丽兔
	p
		|theme by Cola Chan - powered by 
		a(href="https://www.farbox.com/", target="_blank") farbox
	a.gotop.icon-arrow_up(href="#")
