#works {
	padding: 50px 0 0;
}
#about {
	padding: 50px 0 0;
	background: #fff;
}

#category h1, #movie h1, #works h1, #about h1,
#category h2, #movie h2, #works h2, #about h2,
#category h3, #movie h3, #works h3, #about h3,
#category h4, #movie h4, #works h4, #about h4,
#category h5, #movie h5, #works h5, #about h5,
#category h6, #movie h6, #works h6, #about h6,
#category p, #movie p, #works p, #about p { margin: 0; }
#category *, #movie *, #works *, #about * { box-sizing: content-box; -webkit-box-sizing: content-box; }

/*************************************************/
/*                 special pages                 */
/*************************************************/

/* categories */
#category .typeintro { float:left; width:320px; margin:0 35px 60px 0; font-size:12px; }
#category .typeintro a.pic { display:block; width:320px; height:110px; overflow:hidden; }
#category .typeintro a.pic img { width:320px; height:180px;
	transition: transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
}
#category .typeintro a.pic:hover img {
	transform:translate(0px,-70px);
	-webkit-transform:translate(0px,-70px);
	-moz-transform:translate(0px,-70px);
}
#category .typeintro h2 { margin:10px 0; }
#category .typeintro h2 a { font-size:16px; text-decoration:none; font-weight:normal }

/* works */
#works .content { width:100%; padding:150px 0 130px; margin: 0 0 50px; background:#f5f5f5; border-radius:5px; box-shadow:inset 0 0 150px #ccc; font-family:"droid-sans"; }
#works .play { display:block; width:120px; height:120px; margin:auto; background:url(http://greenzorro.github.io/colacdn/blog_img_assets/works_play.png) center center no-repeat; text-indent:-9999px; }
#works .slogen { margin:80px 0 0; font-size:30px; color:#333; text-align:center; }
#works .area { width:420px; margin:30px auto 0; }
#works .area span { float:left; display:block; width:110px; height:40px; line-height:40px; margin:0 15px; background:#58b798; border-radius:5px; font-size:18px; text-align:center; color:#fff; }
#works .pic { width: 0px; height:0px; overflow:hidden; }
.fancybox-wrap .cat_title { width: 650px; padding: 150px 0; text-align: center; }
.fancybox-wrap .cat_title h2 { padding: 0 0 15px; font-size: 28px; color: #e18e6a; }
.fancybox-wrap .cat_title p { font-size: 18px; color: #e18e6a; }

/* about */
#about { padding:20px 0 0; }
#about .timeline { width:100%; height:5px; margin:100px 0; background:#eee; border-radius:5px; position:relative; }
#about .timeline .item { width:100px; text-align:center; position:absolute; left:0; top:-48px; }
#about .timeline .event { height:30px; line-height:30px; margin:0 0 10px; background:#58b798; border-radius:5px; font-size:14px; color:#fff; position:relative; }
#about .timeline .event i { width:8px; height:8px; background:#58b798; position:absolute; left:46px; bottom:-3px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-moz-transform: rotate(45deg); /* Firefox */
}
#about .timeline .dot { display:inline-block; width:10px; height:10px; border:2px solid #fff; background:#e18e6a; border-radius:6px; }
#about .timeline .year { font-size:18px; font-family:"droid-sans"; }
#about .timeline .time1 { left:120px;
	animation:about_time1 1s;
	-webkit-animation:about_time1 1s;
	-moz-animation:about_time1 1s;
}
#about .timeline .time2 { left:450px;
	animation:about_time2 1s;
	-webkit-animation:about_time2 1s;
	-moz-animation:about_time2 1s;
}
#about .timeline .time3 { left:600px;
	animation:about_time3 1s;
	-webkit-animation:about_time3 1s;
	-moz-animation:about_time3 1s;
}
#about .timeline .time4 { left:720px;
	animation:about_time4 1s;
	-webkit-animation:about_time4 1s;
	-moz-animation:about_time4 1s;
}
#about .map { float:right; width:330px; height:290px; background:url(http://greenzorro.github.io/colacdn/blog_img_assets/about_map.png) center center no-repeat; }
#about .skills { float:left; width:450px; padding:35px; background:url(http://greenzorro.github.io/colacdn/blog_img_assets/about_pattern.jpg) repeat; border-radius:5px; position:relative; }
#about .skills h2 { margin:0 0 60px; font-size:24px; font-weight:normal; }
#about .skills a { display:block; width:100px; height:40px; line-height:40px; background:#dfdfdf; border-radius:5px; text-align:center; color:#fff; font-size:14px; position:absolute; right:35px; top:30px; }
#about .skills a:hover { background:#ccc; }
#about .skills .skill_list div { float:left; width:80px; height:80px; line-height:80px; margin:0 10px 10px 0; background:#333; border-radius:5px; text-align:center; color:#fff; }
#about .skills .skill_list .skill_ps { background:#2fc9f9; font-size:36px; }
#about .skills .skill_list .skill_ai { background:#f79536; font-size:36px; }
#about .skills .skill_list .skill_fl { background:#fe2717; font-size:36px; }
#about .skills .skill_list .skill_ae { background:#a978da; font-size:36px; }
#about .skills .skill_list .skill_axure { font-size:18px; }
#about .skills .skill_list .skill_html { font-size:18px; }
#about .skills .skill_list .skill_css { font-size:18px; }
#about .skills .skill_list .skill_js { font-size:14px; }
#about .skills .skill_list .skill_jade { font-size:18px; }
#about .comment_list { padding:30px 0 0; }
#about .comment_list h2 { line-height:90px; padding:120px 0 0; background:url(http://greenzorro.github.io/colacdn/blog_img_assets/about_cat.jpg) center bottom no-repeat; font-size:24px; color:#58b798; text-align:center; font-weight:normal; }
#about .comment_list .row { float:left; width:50%; }
#about .comment_list .comment_item { padding:25px; margin:0 10px 20px; background:#f5f5f5; border-radius:5px; font-size:12px; }
#about .comment_list .comment_item h4 { font-size:12px; color:#e18e6a; }
#about .comment_list .myself { background:#555; color:#fff; font-size:14px; }
@keyframes about_time1 {
	0% { left:0; }
	100% { left:120px; }
}
@-webkit-keyframes about_time1 {
	0% { left:0; }
	100% { left:120px; }
}
@-moz-keyframes about_time1 {
	0% { left:0; }
	100% { left:120px; }
}
@keyframes about_time2 {
	0% { left:0; }
	100% { left:450px; }
}
@-webkit-keyframes about_time2 {
	0% { left:0; }
	100% { left:450px; }
}
@-moz-keyframes about_time2 {
	0% { left:0; }
	100% { left:450px; }
}
@keyframes about_time3 {
	0% { left:0; }
	100% { left:600px; }
}
@-webkit-keyframes about_time3 {
	0% { left:0; }
	100% { left:600px; }
}
@-moz-keyframes about_time3 {
	0% { left:0; }
	100% { left:600px; }
}
@keyframes about_time4 {
	0% { left:0; }
	100% { left:720px; }
}
@-webkit-keyframes about_time4 {
	0% { left:0; }
	100% { left:720px; }
}
@-moz-keyframes about_time4 {
	0% { left:0; }
	100% { left:720px; }
}



/*************************************************/
/*                   animations                  */
/*************************************************/

a {
	transition:all .3s;
	-moz-transition:all .3s;
	-webkit-transition:all .3s;
}
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadein2 {
    0% { opacity: .5; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadein2 {
    0% { opacity: .5; }
    100% { opacity: 1; }
}
@-moz-keyframes fadein2 {
    0% { opacity: .5; }
    100% { opacity: 1; }
}
@keyframes movein_left {
	0% { opacity:0; transform:translate(-30px,0px); }
	100% { opacity:1; transform:translate(0px,0px); }
}
@-webkit-keyframes movein_left {
	0% { opacity:0; -webkit-transform:translate(-30px,0px); }
	100% { opacity:1; -webkit-transform:translate(0px,0px); }
}
@-moz-keyframes movein_left {
	0% { opacity:0; -moz-transform:translate(-30px,0px); }
	100% { opacity:1; -moz-transform:translate(0px,0px); }
}
@keyframes shake {
	0% { }
	20% { transform:rotate(3deg); transform-origin:50% 50%;}
	40% { transform:rotate(-3deg); transform-origin:50% 50%;}
	60% { transform:rotate(1deg); transform-origin:50% 50%;}
	80% { transform:rotate(-1deg); transform-origin:50% 50%;}
	100% { }
}
@-webkit-keyframes shake {
	0% { }
	20% { -webkit-transform:rotate(3deg); -webkit-transform-origin:50% 50%;}
	40% { -webkit-transform:rotate(-3deg); -webkit-transform-origin:50% 50%;}
	60% { -webkit-transform:rotate(1deg); -webkit-transform-origin:50% 50%;}
	80% { -webkit-transform:rotate(-1deg); -webkit-transform-origin:50% 50%;}
	100% { }
}
@-moz-keyframes shake {
	0% { }
	20% { -moz-transform:rotate(3deg); -moz-transform-origin:50% 50%;}
	40% { -moz-transform:rotate(-3deg); -moz-transform-origin:50% 50%;}
	60% { -moz-transform:rotate(1deg); -moz-transform-origin:50% 50%;}
	80% { -moz-transform:rotate(-1deg); -moz-transform-origin:50% 50%;}
	100% { }
}
@keyframes moveup {
	0% { transform:translate(0px,0px); }
	100% { transform:translate(0px,-70px); }
}
@-webkit-keyframes moveup {
	0% { -webkit-transform:translate(0px,0px); }
	100% { -webkit-transform:translate(0px,-70px); }
}
@-moz-keyframes moveup {
	0% { -moz-transform:translate(0px,0px); }
	100% { -moz-transform:translate(0px,-70px); }
}
